@font-face {  
  font-family: 'comic';
  src: url('./comic.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {  
  font-family: 'comicbd';
  src: url('./comicbd.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {  
  font-family: 'comici';
  src: url('./comici.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {  
  font-family: 'comicz';
  src: url('./comicz.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {  
  font-family: 'Gotham-Bold';
  src: url('./Gotham-Bold.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {  
  font-family: 'Gotham-BoldItalic';
  src: url('./Gotham-BoldItalic.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {  
  font-family: 'Gotham-Book';
  src: url('./Gotham-Book.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {  
  font-family: 'Gotham-BookItalic';
  src: url('./Gotham-BookItalic.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {  
  font-family: 'Gotham-Light';
  src: url('./Gotham-Light.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {  
  font-family: 'Gotham-LightItalic';
  src: url('./Gotham-LightItalic.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {  
  font-family: 'Gotham-Medium';
  src: url('./Gotham-Medium.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {  
  font-family: 'Gotham-MediumItalic';
  src: url('./Gotham-MediumItalic.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {  
  font-family: 'RockoFLF-Bold';
  src: url('./RockoFLF-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {  
  font-family: 'RockoFLF';
  src: url('./RockoFLF.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {  
  font-family: 'RockoUltraFLF-Bold';
  src: url('./RockoUltraFLF-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {  
  font-family: 'RockoUltraFLF';
  src: url('./RockoUltraFLF.ttf');
  font-weight: normal;
  font-style: normal;
}
